@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.mobile__body {
    display: none !important;
  }
  
  .mobile__navbar {
    display: none !important;
  }
  .mobile__footer{
    display: none !important;

  }
  .mobile__register{
    display: none !important;
  }
  .mobile__login{
    display: none !important;
  }
@media (max-width: 767px) {
 
    .desktop__carousel {
      display: none;
    }
    .desktop__navbar {
      display: none !important;
    }
    .mobile__carousel {
      display: block !important;
    }
    .mobile__navbar {
      display: block !important;
    }
    .mobile__body {
      display: block !important;
    }
    .mobile__footer{
        display: block !important;
    
      }
      .mobile__register{
        display: block !important;
      }
      .mobile__login{
        display: block !important;
        transition: 350ms;
      }
  }